// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=JetBrains+Mono:wght@300&family=Oswald:wght@300&display=swap');

// COLORS
$color-primary: rgb(99, 84, 231);
$color-info: rgb(84, 231, 207);
$color-danger: rgb(231, 84, 84);
$color-warning: rgb(231, 229, 84);
$color-success: #57dc4b;
$color-light: rgb(216, 216, 216);
$color-white: #ffffff;
$color-dark: rgb(59, 59, 59);

// FONTS
$font-1: 'Oswald', sans-serif;
$font-2: 'Bangers', cursive;